.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  .product div{
    display: grid;
    width: 15rem;
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }
  .product div img{
    margin: auto;
    height: 120px;
  }
  .product div h2{
    height: fit-content;
  }
  .product p{
    margin-top: auto;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 55px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .product button{
    height: 2rem;
    margin-top: auto;
    color: #000;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
  }
  .product button:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  }