.nav_container{
    height: 4rem;
    background-color: #000;
    color: #fff;
}
.nav_container .cart_icon{
    font-size: 2rem;
    float: right;
    margin: 10px 20px 0 0;
    cursor: pointer;
}
.profile_options{
    position: absolute;
    right: 7%;
    top: 7%;
    display: grid;
    border-radius: 20px 0px 20px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid gray;
}
.profile_options span{
    padding: 10px 15px;
}